@import "mixins"; // Z-Index
$elementOrder: Temp; // Colors
$dark: #000;
$light: #ebebeb;

body,
html {
	margin: 0;
	padding: 0;
	background-color: $dark;
	font-family: 'Roboto';
}

a {
	outline: none;
	text-decoration: none;
}

#unit {
	color: $light;
	position: relative;
	//@include animation(pixelShift 300s linear infinite);
	.viewer {
		position: absolute;
		font-weight: 100;

		.text-fade {
			animation: fade 5s;
			animation-timing-function: ease-in-out;
		}

		/*=============================================>>>>>
		= Material Design font styles =
		===============================================>>>>>*/

		.font-headline {
			font-size: 2.4rem;
			font-weight: 500;
		}

		.font-title {
			font-size: 2rem;
			font-weight: 700;
		}

		.font-subheading {
			font-size: 1.6rem;
			font-weight: 500;
		}

		.font-body-2 {
			font-size: 1.4rem;
			font-weight: 700;
		}

		.font-body-1 {
			font-size: 1.4rem;
			font-weight: 500;
		}

		.font-caption {
			font-size: 1.2rem;
			font-weight: 500;
		}
	}
}
/** Keyframes **/
$pixelshift: 1.5vw;
@keyframes pixelShift {
	from {
		@include transform(rotate(0deg) translateX($pixelshift) rotate(0deg));
	}

	to {
		@include transform(rotate(360deg) translateX($pixelshift) rotate(-360deg));
	}
}
@keyframes fade {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

50% {
	opacity: 0;
}

100% {
	opacity: 1;
}
