<md-dialog-content class="md-dialog-content input" ng-model="viewerData">
	<h2>Add New Viewer</h2>
	<form name="addViewerForm" layout="column" ng-submit="save(viewerData)">
		<md-input-container>
			<label>Type</label>
			<md-icon class="md-accent">insert_chart</md-icon>
			<md-select name="type" ng-required="true" ng-model="viewerData.type">
				<md-option ng-repeat="(type, viewerModel) in viewerModels" ng-value="type">
					{{type}}
				</md-option>
			</md-select>
			<div class="md-errors-spacer"></div>
		</md-input-container>
		<md-input-container ng-if="viewerData.type">
			<label>Name</label>
			<md-icon class="md-accent">label_outline</md-icon>
			<input name="name" ng-required="true" placeholder="e.g. Apple Stock" ng-model="viewerData.name" />
			<div ng-messages="addViewerForm.name.$error">
				<div ng-message="required">Please fill out this field</div>
			</div>
		</md-input-container>
		<md-input-container ng-repeat="(parameter, value) in viewerModels[viewerData.type].parameters">
			<label>{{parameter}}</label>
			<md-icon class="md-accent">settings</md-icon>
			<input name="{{parameter}}" ng-required="true" ng-pattern="viewerModels[viewerData.type].parameters[parameter]" ng-model="viewerData.configuration[parameter]" />
			<div ng-messages="addViewerForm[parameter].$error">
				<div ng-message="required">Please fill out this field</div>
				<div ng-message="pattern">Input format is invalid</div>
			</div>
		</md-input-container>
		<div layout="row">
			<div flex></div>
			<button flex="no-grow" class="md-button" ng-click="close()" type="button">
				Close
			</button>
			<button flex="no-grow" class="md-button md-accent md-raised" ng-disabled="!addViewerForm.$valid" type="submit">
				Save
			</button>
		</div>
	</form>
</md-dialog-content>
